<p>
  Здравствуйте, <%= @user.first_name %>!
</p>
<p>
  Вы успешно зарегистрировались на сайте электронного обслуживания АО Теласи.
</p>
<p>
  Осталось только подтвердить действительность адреса электронной почты.
  Для подтверждения просто щелкните по ссылке:
</p>
<p><%= link_to @url, @url %></p>