<p>
  Здравствуйте, <%= @user.first_name %>!
</p>
<p>
  Вы получили это письмо в связи с вашим запросом на восстановление пароля.
</p>
<p>
  Для получения нового пароля, просто щелкните по ссылке:
</p>
<p><%= link_to @url, @url %></p>