<div class="panel panel-danger">
  <div class="panel-heading">
    <h4 style="margin: 0;"><i class="fa fa-info-circle"></i> <%= @title %></h4>
  </div>
  <div class="panel-body">
    <p><%= t('tender.userexists').html_safe %></p>
  </div>
</div>