<%= search_form @search do |f|
  f.combo_field 'paypoint', label: t('models.network.aviso.bank'), collection: Billing::Paypoint.network_paypoints, empty: t('models.network_new_customer_application.chose_bank')
  f.complex_field label: t('models.network.aviso.date') do |c|
    c.date_field 'd1', default: Date.today
    c.date_field 'd2', default: Date.today
  end
  f.combo_field 'complete', label: t('models.network.aviso.complete'), collection: { 'კი' => 'yes', 'არა' => 'no' }, empty: '--'
end %>
<%= table_for @avisos, title: t('models.network.aviso.avisos'), icon: '/icons/money-coin.png', collapsible: true do |t|
  t.date_field 'avdate', label: t('models.network.aviso.date'), url: ->(x) { network_aviso_url(id: x.avdetkey) }
  t.complex_field label: t('models.network.aviso.bank') do |c|
    c.text_field 'paypoint'
    c.text_field 'basepointkey', class: 'muted'
  end
  t.boolean_field 'status', label: t('models.network.aviso.cmpl'), hint: t('models.network.aviso.complete_hint')
  t.text_field 'cns', label: 'CNS #'
  t.complex_field label: t('models.network.aviso.abonent_no') do |f|
    f.text_field 'accnumb', tag: 'code'
    f.text_field 'custname', empty: false
  end
  t.text_field 'payid', label: 'გადახდა#'
  t.number_field 'amount', label: t('models.network.aviso.amount'), after: 'GEL'
  t.paginate records: t('models.general.records')
end %>
<div class="alert alert-error">
  <p>
    ეს ღილაკი არ იქნება მუშა სისტემაში. ტესტირების მიზნით ის დროებით დადებულია აქ.
  </p>
  <p>
    <%= link_to 'ავიზოების სინქრონიზაცია', network_sync_avisos_url, class: ['btn', 'btn-danger'], method: 'post', data: { confirm: 'დაადასტურეთ სინქრონიზაცია.' } %>
  </p>
</div>