<div class="navbar navbarcart-inverse navbar-fixed-top" role="banner">
	<ul class='nav navbar-nav navbar-right'>
		<li class="dropdown">
		  <%= link_to 'Index', stamba_url %>
		</li>
    </ul>
</div>