    <div class="sidebar">
        <div class="sidebar-widget">
            <div id="todaydate"></div>
        </div>

        <div class="sidebar-inner">
          <ul class="navi">
            <li class="has_submenu nblue">
            <%= link_to "Find printer", stamba_find_url %>
          </ul>
          <ul class="navi">
            <li class="has_submenu nblue">
            <%= link_to "Printers list", stamba_list_url %>
          </ul>

          <!-- Date -->

          <div class="sidebar-widget">
            <div id="todaydate"></div>
          </div>

        </div>

    </div>