<h3 class="page-header">რეპორტები</h3>
<div class="row">
  <div class="col-sm-6">
    <%= link_to 'განცხადებების რაოდენობა &rarr;'.html_safe,
                network_count_report_url, class: ['btn', 'btn-default'] %>
  </div>
  <div class="col-sm-6">
  </div>
</div>