<div class="panel-heading">
<h4 class="modal-title" id="myModalLabel">Внимание</h4>
</div>
<div class="panel-body h5">
      Обязательство по оплате тарифа за пользование системой PAY возлагается на потребителя. Комиссионные за обслуживание составляют:
        <ul>
        <li>С использование карточек Pay-система «Либерти банк» - 0.80% мин. 0.01 лари</li>
        <li>С использованием Visa/MasterCard карточек «Либерти банк» и банков-партнёров - 1.10% мин. 0.01 лари</li>
        <li>С использованием Visa/MasterCard карточек других грузинских банков - 1.30% мин. 0.01 лари</li>
</div>