<div class="panel-heading">
<h4 class="modal-title" id="myModalLabel">ყურადღება</h4>
</div>
<div class="panel-body h5">
      ლიბერთი ბანკის PAY სისტემით სარგებლობის ტარიფის გადახდის ვალდებულება ეკისრება მომხმარებელს. მომსახურების საკომისიო შეადგენს:
        <ul>
        <li>ლიბერთი ბანკის Pay სისტემის ბარათების გამოყენებით - 0.80% მინ. 0.01 ლარი</li>
        <li>ლიბერთი ბანკისა და მისი პარტნიორი ბანკების Visa/MasterCard  ბარათების გამოყენებით - 1.10% მინ. 0.01 ლარი</li>
        <li>სხვა ქართული ბანკების Visa/MasterCard ბარათების გამოყენებით - 1.30% მინ. 0.01 ლარი</li>
</div>